<form accept-charset="UTF-8" method="post" action="/users">
  <label for="user[username]">Username: </label>
  <input type="text" name="user[username]" />
  <label for="user[email]">Email: </label>
  <input type="email" name="user[email]" />
  <label for="user[password]">Password: </label>
  <input type="password" name="user[password]" />
  <button>Submit</button>
</form>